  <div class="wrapper">
    <div class=" container form-signin">

<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Intitulé du Problème" %>
    <%= f.input :proba, label: "Probabilité" %>
    <%= f.input :impact, label: "Impact sur la production" %>
    <%= f.input :description, label: "Source du problème" %>
    <%= f.input :fiab, label: "Fiabilité de la source" %>
    <%= f.input :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default btn-block"%>
  </div>
<% end %>
  </div>
</div>
