<script src="https://cdn.anychart.com/js/1.0.4/anychart-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.anychart.com/css/1.0.4/anychart-ui.min.css" />



<div class="dashboard">
  <br><br><br>
  <div class="container">
    <h1><%= @event.name %></h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
      <div class="c100 p<%=@event.impact.to_i %> center">
                            <span><%=@event.impact%>%</span>
                            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                        </div>
  <div class="card-block">
    <h4 class="card-title text-center">Impact sur la production</h4>
    <p class="card-text">
    
    </p>
  </div>
</div>
    </div>
    <div class="col-lg-4">
      <div class="card">
      <div class="c100 p<%=@event.proba.to_i%> center">
                            <span><%=@event.proba%>%</span>
                            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                        </div>
  <div class="card-block">
    <h4 class="card-title text-center">Probabilité</h4>
    <p class="card-text">
    
    </p>
  </div>
</div>
    </div>
    <div class="col-lg-4">
      <div class="card">
      <div class="c100 p<%=@event.fiab.to_i %> center">
                            <span><%=@event.fiab%>%</span>
                            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                        </div>
  <div class="card-block">
    <h4 class="card-title text-center">Fiabilité</h4>
    <p class="card-text">
    
    </p>
  </div>
</div>
    </div>
    <div class="col-lg-1">
    </div>
    <br><br><br>
     <div class="col-lg-10">
      <div class="card ">
      <br><br><br><br>
  <div class="card-block">
    <h2 class="card-title text-center">Source du Problème</h2>
    <p class="card-text text-center">
      <br><br>
  <%=  @event.description%>
    </p>
  </div>
</div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<style>
  
  .dashboard{  width:100%;
  height:100vh;
    background:#312783;
    color:white;
  }
  .card{    border-radius: .25rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
</style>