<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Proba:</strong>
  <%= @event.proba %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @event.impact %>
</p>

<p>
  <strong>Fiab:</strong>
  <%= @event.fiab %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
