<%require 'date'%>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-10">
      <h2 class="text-center">Tableau de bord</h2>
     <h4 class="text-center"> <%= @date %></h4><br><br>
      <% @events.each do |event| %>
        <% if event.date.to_s == @date.to_s %>
          <div class="product">
            <div class='product-body'>
              <h3><%= event.name %></h3>
              <p>Probabilité : <%= event.proba %></p>
              <p>impact : <%= event.impact %></p>
            </div>
            <ul class="list-inline product-controls">
            <li>
              <%= link_to event_path(event) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_event_path(event) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </li>

          </ul>
          </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
   
    <div class="col-sm-1">
    </div>

  </div>
</div>
<br><br><br>

 <% if user_signed_in? %>
 
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
<% if current_user.site == "1GAV"%>
<h1>Anomalie probable</h1>
          <div class="product">
            <div class='product-body'>
              <h3>APPEL_OP</h3>
              <p>durée : 469 secondes</p>
              <p>fiabilité : 0.647 </p>
            </div>
          </div><br>
          <div class="product">
            <div class='product-body'>
              <h3>ARRET_FAB</h3>
              <p>durée : 448 secondes</p>
              <p>fiabilité : 0.1999 </p>
            </div>
          </div><br>
          <div class="product">
            <div class='product-body'>
              <h3>FIN_COURSE_CROIX</h3>
              <p>durée : 445 secondes</p>
              <p>fiabilité : 0.2333 </p>
            </div>
          </div>
<% elsif current_user.site == "LAC"%>
<h1>Anomalie probable</h1>
<div class="product">
            <div class='product-body'>
              <h3>APPEL_OP</h3>
              <p>durée : 426 secondes</p>
              <p>fiabilité : 0.789 </p>
            </div>
          </div><br>
          <div class="product">
            <div class='product-body'>
              <h3>ARRET_FAB</h3>
              <p>durée : 653 secondes</p>
              <p>fiabilité : 0.133 </p>
            </div>
          </div><br>
<% elsif current_user.site == "1MV1"%>
<h1>Anomalie probable</h1>
<div class="product">
            <div class='product-body'>
              <h3>FIN_COURSE_CROIX</h3>
              <p>durée : 725 secondes</p>
              <p>fiabilité : 0.657 </p>
            </div>
          </div><br>
          <div class="product">
            <div class='product-body'>
              <h3>ARRET_FAB</h3>
              <p>durée : 577 secondes</p>
              <p>fiabilité : 0.345 </p>
            </div>
          </div><br>
          <div class="product">
            <div class='product-body'>
              <h3>APPEL_OP</h3>
              <p>durée : 459 secondes</p>
              <p>fiabilité : 0.895 </p>
            </div>
          </div>
<% end %>
    </div>
    <div class="col-sm-6">
      <h1>Tableau de présence</h1>
      <%= render "shared/chart" %>
    </div>
    
  </div>
</div>

 <% end %>




<style>
    body{background:#ecf0f1!important;}
    .product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;

}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 30px;
  color: #312783;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
  text-decoration: none;
}
</style>