<%require 'date'%>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-10">
      <br><br><h1>
      Aujourd'hui</h1><br><br>
      <% @events.each do |event| %>
        <% if event.date.to_s == @date.to_s %>
          <div class="product">
            <div class='product-body'>
              <h3><%= event.name %></h3>
              <p>Probabilité : <%= event.proba %></p>
              <p>impact : <%= event.impact %></p>
            </div>
            <ul class="list-inline product-controls">
            <li>
              <%= link_to event_path(event) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_event_path(event) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </li>

          </ul>
          </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
   
    <div class="col-sm-1">
    </div>

  </div>
</div>

<style>
    
    .product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;

}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #312783;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
  text-decoration: none;
}
</style>