<div class="simple-calendar">
  <div class="calender text-center">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <span class="h1 "><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>

  <div class='month'>

    
      <% date_range.each_slice(7) do |week| %>
          <% week.each do |day| %>
             <span class='day'>
               <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day.day , sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day.day, sorted_events.fetch(day, []) %>
              <% end %>
                </span>
            <% end %>
          <% end %>
      <% end %>
             <div class="clearfix"></div>
</div>
</div>
</div>
<style>
@import url( https://fonts.googleapis.com/css?family=Montserrat );

.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}


body{
  background:#312783;
}

.calender{
  margin:40px auto;
  width:70%;
  padding:20px;
  background:#f7f7f7;
  border:1px solid #ccc;
  color:#312783;
  position:relative;
}

.calender:before,
.calender:after{
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: inherit;
  -webkit-transform: rotate(2deg);
  box-shadow:0 0 20px rgba(0,0,0,.4);
}

.calender::after{ -webkit-transform: rotate(-1deg) }

.calender h1{
  font-family:'Montserrat';
  width:100%;
  text-align:center;
  text-shadow:1px 1px 0px rgba(0,0,0,.6);
}
.calender hfr{
  display:block;
  width:13.5%;
  height:0;
  padding-top:6%;
  padding-bottom:8%;
   padding-right:8%;
  float:left;
    border:1px solid #f7f7f7;
  text-align:center;
  font-family:'Montserrat';
  text-shadow:1px 1px 0px rgba(0,0,0,.6);
}
.calender .day{
  display:block;
  width:13.5%;
  height:0;
  padding-top:6%;
  padding-bottom:8%;
  float:left;
  text-align:center;
  background:#ddd;
  border:1px solid #f7f7f7;
  font-family:sans-serif;
  font-size:1.4em;
  -webkit-transition: all .2s ease;
  cursor:pointer;
}

.calender .day:hover{
  background:#312783;
  color:#f7f7f7;
  box-shadow:inset 0 0 20px rgba(0,0,0,.4);
  text-shadow:1px 1px 2px rgba(0,0,0,.4);
}
  
.calender .day.current{
  background:rgba(236, 154, 24, 1);
  color:#f7f7f7;
  box-shadow:inset 0 0 20px rgba( 0,0,0, .4);
  text-shadow:1px 1px 2px rgba(0,0,0,.4);}
  
th{padding: 8px;
    line-height: 1.4;}
  </style>