<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr class="">
          <% week.each do |day| %>
          
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
              <%= link_to  days_path(category: "Industrial_design"), class: "link-category text-muted" do %>
                <div class="day daysy-<%=rand(5)%>"><br><br>
                    <% block.call day, sorted_events.fetch(day, []) %><br><br><br><br>
                  </div>
                <% end %>
              <% end %>
             
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<style>.day{ border: 2px solid;
    border-radius: 20px;}
.daysy-1{background-color: #c0392b !important;}
.daysy-2{background-color: #e67e22 !important;}
.daysy-3{background-color: #d35400 !important;}
.daysy-4{background-color: #ecf0f1 !important;}
.daysy-5{background-color: #ecf0f1 !important;}</style>
