<div class="simple-calendar">
  <div class="calender text-center">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <span class="h1 "><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>

  <div class='month'>

    
      <% date_range.each_slice(7) do |week| %>
          <% week.each do |day| %>
             <span class='day color-<%=rand(5)%>'>
               <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day.day , sorted_events.fetch(day, []), &block) %>
              <% else %>
                <%= link_to root_path(date: "#{day}"), class:"calendar-link" do %>
                  <% block.call day.day, sorted_events.fetch(day, []) %>
                <% end %>  
              <% end %>
                </span>
            <% end %>
          <% end %>
      <% end %>
             <div class="clearfix"></div>
</div>
</div>
</div>
